$fontFamily: 'Inter', sans-serif;
$fontSize: 1rem;
$fontWeight: 400;
$whiteColor: #ffffff;
$blackColor: #1b1b1b;
$accentColor: #1fc0ae;
$greyColor: #eaecf0;
$lightGreyColor: #f6f7fa;
$darkGreyColor: #8e99ab;
